.navbar {
  background-color: #001529;
  width: 100% ;
  height: 8vh;
}
#navBarTitle {
  padding-left: 0px;
  color: #fafafa;
  font-size: 22px!important;
  margin: 4px 0px 8px;
}
.ant-layout-header {
  padding: 0px 0px 0px 0px !important;
  color: rgba(0, 0, 0, 0.65);
  line-height: 64px;
  background: #001529;
  height:8vh;
}

.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #02152a;
}
#headSvg{
    color: #494949;
}
#loginMe{
  float: right;
  margin-right: 3vw;
  height: 3vh;
}

.site-layout-background{
  /* width:200px !important; */
  min-height: 700px;
  margin-top: 8vh;
}

#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

#siderNav{
  /* width:20vw; */
  height:100%;
  background: #001529 !important;
}

#navBarMenu{
  height: 92vh;
}