.uploadCon .uploadOutlined{
    position: relative;
    top: 2px;
    right:178px;
    /* margin-bottom: -5px; */
}

.uploadCon .ant-upload-list-item-name-icon-count-1 {
    position: relative;
    width: 20px;
    top: -35px;
    right:100px;
}

.uploadCon .ant-upload-list-item-name {
    width: 130px;
    padding-left: 26px;
    overflow: hidden;
    line-height: 1.5715;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.uploadCon .uploadButton{
    position: relative;
    z-index:1;
    top: -30px;
    right:70px;
    margin-bottom: -10px;
}